semi: false
singleQuote: true
printWidth: 100
proseWrap: "never"
arrowParens: "avoid"
trailingComma: "none"
jsxBracketSameLine: true
eslintIntegration: true,
stylelintIntegration: true
vueIndentScriptAndStyle: false
embeddedLanguageFormatting: "auto"
htmlWhitespaceSensitivity: "ignore" # 属性标签格式化符合预期
tslintIntegration: false
ignorePath: ".prettierignore"
