.sortable-wrap {
  margin-left: 64px;

  .row {
    display: block;
    width: 600px;
    padding: 12px 20px;
    color: theme('colors.textPrimary');
    background-color: theme('colors.bgContainer');
    border: 1px solid theme('colors.borderLevel2');
  }

  .sortable-handle {
    cursor: move;
  }

  .sortable-ghost {
    opacity: 0.5;
    background: #c8ebfb;
  }

  .flip-list-move {
    transition: transform 0.5s;
  }
}
