@steps: 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95;
.generate-alpha(@list, @prefix, @color-var) {
  .loop(length(@list));
  .loop(@i) when (@i > 0) {
    @val: extract(@list, @i);
    @alpha: (@val / 100);
    --@{prefix}-alpha-@{val}: ~'rgba(var(@{color-var}), @{alpha})';
    .loop(@i - 1);
  }
}

:root,
:root[theme-mode='light'] {
  // custom
  --dark-layout-header-background: var(--td-gray-color-13);
  --brand-color-rgb: 0, 119, 250; // 品牌色 RGB
  .generate-alpha(@steps, brand-color, --brand-color-rgb);

  // tdesign
  --td-brand-color-1: #f0f3ff;
  --td-brand-color-2: #d6e2ff;
  --td-brand-color-3: #afc9ff;
  --td-brand-color-4: #82adff;
  --td-brand-color-5: #4b90ff;
  --td-brand-color-6: #0077fa;
  --td-brand-color-7: #0059c3;
  --td-brand-color-8: #004396;
  --td-brand-color-9: #002f6c;
  --td-brand-color-10: #001e4b;

  // 基础颜色
  --td-brand-color: var(--td-brand-color-6);
  --td-brand-color-hover: var(--td-brand-color-5);
  --td-brand-color-focus: var(--td-brand-color-2);
  --td-brand-color-active: var(--td-brand-color-7);
  --td-brand-color-disabled: var(--td-brand-color-3);
  --td-brand-color-light: var(--td-brand-color-1);
  --td-brand-color-light-hover: var(--td-brand-color-2);
}
